*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(./assets/peng-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fffff;
  font-family: 'Montserrat', sans-serif;
}

/* Header and initial form styling */
header {
  display: flex;
  justify-content: center;
  box-shadow: 0 8px 6px -6px grey;
  outline: none;
  background-color: #ffffff;
  padding: 15px;
  margin: 0;
}

h1 {
  display: inline;

}

.hamburger-icon {
  background-image: url(./assets/menu.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  cursor: pointer;
  background-position: center;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 40px;
  padding-top: 40px;
  margin: 15px;
  outline: none;
}

.form-container {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 100px;
}

#plyr-1-input, #plyr-2-input {
  outline: none;
  border: none;
  font-size: 1em;
  padding: 5px;
  width: 300px;
  height: 40px;
}

label {
  margin-top: 10px;
  font-size: 1.2em;
  color: #fff;
}

#p1, #p2 {
  display: flex;
  flex-direction: column;
}

#btn-container {
  display: flex;
  justify-content: center;
}

#play-game-btn {
  width: 70%;
  height: 40px;
  margin-bottom: 100px;
  font-size: 1em;
  background-color: #fff;
  color: #000;
  border: none;
}
/* Instruction styling */
article {
  display: none;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin: 30px;
  color: #fff;
}

.greeting {
  align-self: center;
  color: #fff;
  margin: 20px 50px 20px 50px;
  width: 70%;
  font-size: 1.2em;
}
/* Game Styling */
main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "left mid right";
  color: #fff;
}

.card-container {
  grid-area: mid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  perspective: 1000px;
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* grid-column-gap: 20px;
  grid-row-gap: 20px; */
}

.memory-card{
  width: 150px;
  height: 225px;
  position: relative;
  border-radius: 20px;
  margin: 20px;
  border: solid 4px #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

img {
  border-radius: 20px;
  width: 146px;
  height: inherit;
}

.memory-card:active {
   transform: scale(0.97);
   transition: transform .2s;
 }

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  position: absolute;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.card1 {
  transform: rotateZ(13deg);
}

.card2 {
  transform: rotateZ(-5deg);
}

.card3 {
  transform: rotateZ(13deg);
}

.card4 {
  transform: rotateZ(15deg);
}

.card5 {
  transform: rotateZ(-18deg);
}

.card6 {
  transform: rotateZ(-13deg);
}

.card7 {
  transform: rotateZ(16deg);
}

.card8 {
  transform: rotateZ(-7deg);
}

.card9 {
  transform: rotateZ(9deg);
}

.card10 {
  transform: rotateZ(-13deg);
}

.player-info {
  background-color: #000;
  text-align: center;
}

.top-player {
  border-bottom: solid 1px #fff;
  padding: 20px;
  margin: 5px;
}

.match-container {
  border-bottom: solid 1px #fff;
  padding: 20px;
  margin: 5px;
}

.matches {
  font-size: 72px;
  font-weight: bold;
}

.column1 {
  grid-area: left;
}

.column2 {
  grid-area: right;
}
