*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(./assets/peng-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fffff;
}

/* Header and initial form styling */
header {
  box-shadow: 0 8px 6px -6px grey;
  outline: none;
  background-color: #ffffff;
  margin: 0;
}

h1 {
  display: inline;
}

.hamburger-icon {
  background-image: url(./assets/menu.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  cursor: pointer;
  background-position: center;
  border: none;
  padding-left: 40px;
  padding-top: 40px;
  margin: 20px;
  outline: none;
}

.form-container {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: 100px;
}

#plyr-1-input, #plyr-2-input {
  outline: none;
  border: none;
  font-size: 1em;
  padding: 5px;
  width: 300px;
  height: 40px;
}

label {
  margin-top: 10px;
  font-size: 1.2em;
}

#p1, #p2 {
  display: flex;
  flex-direction: column;
}

/* Instruction styling */
article {
  display: none;
}
